* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* Remover margens padrão do corpo */
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
}

.header-top {
  background-color: green; /* Fundo verde */
  color: white; /* Letras brancas */
  text-align: center;
  font-size: 24px; /* Tamanho da fonte */
  width: 100%; /* Ocupar toda a largura */
  margin: 0; /* Remover margens */
  padding: 20px 0;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 200px;
  max-width: 400px;
}

.guess-words {
  display: flex;
  gap: 5px;
  font-size: 50px;
  flex-wrap: wrap;
}

.btns {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

button {
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 3px;
}

.btns button {
  width: 30px;
  background-color: #0ea989;
}

.new {
  width: 120px;
  background-color: #3ba128;
  margin: 20px;
  display: block;
}

button:hover {
  opacity: 0.8;
}

.clue {
  font-size: 18px;
}

.select-green {
  /* width: 30px; */
  background-color: #3ba128;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  height: 30px;
  margin-top: 5px;
}
.select-green:hover {
  opacity: 0.8;
}

.score {
  font-size: 20px;
  margin-top: 5px;
}
#fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#access-count {
  color: black;
  font-size: 16px;
  margin-right: 20px; /* Espaçamento à direita */
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 100px;
}

/* Estilização da div que envolve o contador e o botão */
.access-and-new-game {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espaçamento abaixo da div */
}

.firework {
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  animation: firework-animation 1s linear infinite;
}

@keyframes firework-animation {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(5);
    opacity: 0;
  }
}

@media (max-width: 650px) {
  main {
    flex-direction: column;
    padding: 10px;
  }
}
#loading-spinner {
  display: none;
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 255, 0.1); /* Cor da borda */
  border-top: 4px solid blue; /* Cor da borda superior */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px; /* Espaço entre o spinner e o texto */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

